{% extends 'base.html' %}
{% load static %}

{% block body %}
   
<h1>Add ToDos</h1>
        <form method="POST">
            {% csrf_token %}
                <input type="text" name='title' placeholder="Title">
                <input type="text" name="desc" placeholder="description">
                <button type="submit">Add Todo</button>
        </form>
        <h2> TODOs</h2>
        <ol>

            {% for todo in works %}
            <li><a href="{% url 'detail' todo.id %}">{{ todo.title }} </a></li> 
            {% endfor %}
            <!-- JINJA 2 -->
            <!-- <li>Sanjana</li>
            <li>Christina</li>
            <li>Shardha</li>
            <li>Melvin</li> -->
        </ol>

        {{ message }}

        <img src="{% static 'img/dice.jpg' %}">

{% endblock body %}